* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
h2, p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}
h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}
h4 {
    color: #043857;
    font-weight: 200;
}

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #043857, #6cc3eb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background-color: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255,255, 0.3)
    );
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1, .circle2 {
    background-color: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255,255, 0.3)
    );
    height:20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 10%;
}
.circle2 {
    bottom: 0%;
    left: 10%;
}
.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255,255, 0.3)
    );
    border-radius: 2rem;
}
.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 3rem;
    align-items: center;
}
.link h2 {
    padding: 0rem 2rem;
}

.games {
    flex: 2;
}

.pro img {
    margin: 10px;
    top: 15%;
    right: 15%;
}
.pro h2{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    padding: 1rem;
    color: #426696;
    width: auto;
    font-weight: 600;
}

/* Games */
.status {
    margin-bottom: 1rem;
}

.games {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.card{
    display: flex;
    background: linear-gradient(to left top, 
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    justify-content: space-between;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
