*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  font-family:"Segoe UI";
  color: var(--color-4);
}
/*light theme */
body[data-theme="light"] {
  --image: url(./img/img-1.png);
  --color-2: rgb(203, 231, 255);
  --color-3: rgb(200, 200, 200)
  --color-4: rgb(80, 82, 100)
}
/*dark theme */
body[data-theme="dark"]{
  --color-1: #1e1f26;
  --color-2: #292C33;
  --color-3: rgb(39, 40, 42)
  --color-4: rgb(186, 186, 206)
}

section{
  background-image: var(--image);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-2);
  border-radius:8px;
  padding: 20px;
  max-width: 500px;
}

.theme-switcher{
  position:absolute;
  right: 30px;
  top: 10px;
}
input{
  width:0;
  height:0;
  display: none;
  visibility:hidden;
}
label{
  cursor: pointer;
  display:block;
  text-indent: -9999px;
  height: 30px;
  width:60px;
  background-color: rgb(37, 137, 224);
  border-radius: 50px;
  position: relative;
  transition: 0.5s ease background-color;
}
label::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50px;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: rgb(46, 42, 68);
  transition: 0.5s ease;
}
input:checked + label{
  background-color:black;
  border: 2px solid whitesmoke;
}
input:checked + label::after{
  background-color: aliceblue;
  left: calc(100% - 25px);
}